<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestApp.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="orderProcessType" serializeAs="String">
                <value>detail</value>
            </setting>
            <setting name="storeId" serializeAs="String">
                <value />
            </setting>
            <setting name="productId" serializeAs="String">
                <value />
            </setting>
            <setting name="mode" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="campaign" serializeAs="String">
                <value />
            </setting>
            <setting name="option" serializeAs="String">
                <value />
            </setting>
            <setting name="referrer" serializeAs="String">
                <value />
            </setting>
            <setting name="source" serializeAs="String">
                <value />
            </setting>
            <setting name="contact_fname" serializeAs="String">
                <value />
            </setting>
            <setting name="contact_lname" serializeAs="String">
                <value />
            </setting>
            <setting name="contact_email" serializeAs="String">
                <value />
            </setting>
            <setting name="contact_company" serializeAs="String">
                <value />
            </setting>
            <setting name="contact_phone" serializeAs="String">
                <value />
            </setting>
        </TestApp.Properties.Settings>
    </userSettings>
</configuration>