html, body {
	color: WindowText;
	background: Window;
	margin: 0px;
	overflow: auto;
}

#FsprgResizableContent {
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.store-page-navigation {
	border: none;
	height: 28px;
	width: 100%;
	bottom: 0px;
	right: 0px;	
	position: fixed;
	margin-bottom: 0px;
	background-color: Window;
	padding-right: 5px;
	padding-bottom: 9px;
}

.core-form-field-label {
	margin: 0px;
}
.core-form-field-body {
	padding-left: 0px;
	margin: 0px;
}

.store-decorate-button .store-page-navigation .store-action-command {
	background-color:ButtonFace;
	color:ButtonText;
}
.store-decorate-button .store-page-navigation .store-action-command:hover {
	background-color:HighLight;
	color:HighLightText;
	border: 1px solid transparent;
}
.store-decorate-button .store-page-navigation .store-action-command:visited {
	background-color:ButtonFace;
	color:ButtonText;
	border: 1px solid transparent;
}
.store-decorate-button .store-page-navigation .store-action-command:active {
	background-color:ButtonFace;
	color:ButtonText;
	border: 1px solid transparent;
}

#store-processing-element {
	background-image: none;
	color: WindowText;
	padding-right: 10px;
}